body {
    margin: 0;
    height: 100vh;
    font-family: "Poppins";
}
.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section img {
    height: 100%;
    width: 50%;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
}
* {
    box-sizing: border-box;
}

svg {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw;

    .mask {
        width: 0;
    }
}

.container {
    display: flex;
    width: 300vw;

    .col {
        display: flex;
        gap: 3em;

        p {
            font-size: 0.8rem;
        }
    }

    section {
        width: 100vw;
        padding: 20vw 10vw;

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 300px;
            padding: 0;

            li {
                background: white;
                border-radius: 0.3em;
                flex-grow: 1;
            }
        }
    }
}

section {
    height: 100vh;
}
.sections {
    width: 100%;
    position: relative;
    z-index: 5;
}
.container-page {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    height: 100%;
}
.container-page .contento {
    position: sticky;
    top: 0;
}

.one {
    color: white;
}
.two {
    color: gray;
}
.container-page h2 {
    font-size: 30px;
}
.panel {
    height: 100vh;
    width: 50%;
    margin-left: auto;
}

.description {
    height: 100vh;
}

.red {
    height: 50vh;
    background-color: grey;
}
.orange {
    height: 50vh;
    background-color: orange;
}

.line {
    height: 1px;
    width: 100%;
    background: fuchsia;
    position: fixed;
    top: 15vh;
    left: 0;
    right: 0;
    z-index: 1500;
}

footer {
    height: 300px;
    background-color: black;
    color: #fff;
    z-index: 10;
}
